.container{
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color: blueviolet;
    padding-bottom: 30px;
    border: 0cap;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}